<div class="container page-title">
  <h1>Shopping Cart</h1>
</div>
  
{% if cart.item_count > 0 %}

<form action="/cart" method="post" class="container">
  
  <table id="cart-table">
    
    <thead>
      <tr>
        <th>Item</th>
        <th>&nbsp;</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>
    
    <tbody>

    {% for item in cart.items %}    
    
      {% comment %}
      Determining the handle of the collection that was last seen for the 'continue shopping' link.
      {% endcomment %}
      
      {% if forloop.first %}
        {% assign collection_url = item.product.collections.first.url %}
        {% if collection_url == '/collections/frontpage' or collection_url == '' %}{% assign collection_url = '/collections/all' %}{% endif %}
      {% endif %}

      <tr class="cart-item">
        <td class="ci-image">
          <a href="{{ item.product.url | within: collections.all }}">  
            <img src="{{ item.product.featured_image.src | product_img_url: 'large' }}" alt="{{ item.title | escape }}" />
          </a>
        </td>
        <td class="ci-title">
          <h2>
            <a href="{{ item.product.url | within: collections.all }}">
            {{ item.title }}
            </a>
          </h2>
          {% comment %}
          Line Item Properties
          {% endcomment %}
          {% if item.properties.size > 0 %}
          <p>
            {% for p in item.properties %}
              {% unless p.last == blank %}
                {{ p.first }}:
                {% if p.last contains '/uploads/' %}
                  <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                {% else %}
                  {{ p.last }}
                {% endif %}
                <br />
              {% endunless %}
            {% endfor %}
          </p>
          {% endif %}
        </td>
        <td class="ci-price"><span class="hide-in-table">Item Price<br></span>{{ item.price | money }}</td>
        <td class="ci-quantity">
          <span class="hide-in-table">Quantity<br></span>
          <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" />
          <input type="submit" name="update" value="&#xf021;" class="cart-refresh"/>
          <a href="/cart/change?line={{ forloop.index }}&quantity=0"><br>Remove<br><i class="fa fa-trash-o"></i></a>
        </td>
        <td class="ci-total"><span class="hide-in-table">Total Price<br></span>{{ item.line_price | money }}</td>
      </tr>
    {% endfor %}
    
    </tbody>
    
  </table>
  
  {% comment %}
  For the checkout and update buttons to work, they need to use
  a name attribute set to 'checkout' and 'update', respectively. That's case-sensitive.
  {% endcomment %}
  
  <div class="cart-submit-area">
    <h3>Subtotal <em>{{ cart.total_price | money }}</em></h3>
    {% comment %}
    For the special instructions to be submitted with order,
    they need to use a name attribute set to 'note'. That's case-sensitive.
    {% endcomment %}
    <div class="special-instructions">
      <p>Special instructions for seller</p>
      <textarea name="note">{{ cart.note }}</textarea>
    </div>
    <div class="checkout-buttons">
      <input type="submit" name="checkout" value="Check Out" />    
      {% comment %}Paypal and Google checkout buttons{% endcomment %}
      {% if additional_checkout_buttons %}
      <p>or</p>
      {{ content_for_additional_checkout_buttons }}
      {% endif %}
    </div>
  </div>

</form>

{% else %}

<div>
  <h2>It appears that your cart is currently empty!</h2>
  <h3>You can continue browsing <a href="/collections/all">here</a>.</h3>
</div>

{% endif %}