<div itemscope itemtype="http://schema.org/Product" class="container">
  
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}" />
  
  {% include 'breadcrumbs' %}
  <div id="product-photos">
  
  {% if product.images.size == 0 %}
  
    <div id="product-photo-container">
      <img src="{{ '' | product_img_url: 'grande' }}" alt="" />
    </div>
    
  {% else %}
    
    <div id="product-photo-container" class="carousel carousel-slide" >
      {% for image in product.images %}
      <a class="gallery" href="{{ image.src | product_img_url: 'original' }}" rel="gallery" data-lightbox="product-gallery">
        <img src="{{ image.src | product_img_url: 'grande' }}" alt="{{ image.alt | escape }}" />
      </a>
      {% endfor %}
    </div>
    
    
    {% comment %}Temporarily scrapped due to carousel issues - may re add later{% endcomment %}
    {% comment %}
    {% if product.images.size > 1 %}
    <ul id="product-photo-thumbs" class="clearfix">
      {% for image in product.images %}
      <li class="product-photo-thumb">
        <a class="gallery" href="{{ image.src | product_img_url: 'original' }}" rel="gallery">
          <img src="{{ image.src | product_img_url: 'compact' }}" alt="{{ image.alt | escape }}" />
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endcomment %}
    
    
  {% endif %}
  </div><!-- #product-photos -->
    
  <div id="product-details">
    <form action="/cart/add" method="post" enctype="multipart/form-data">
      <h1 itemprop="name">{{ product.title }}</h1>
      {% assign product_vendor_handle = product.vendor | handle %}

      <div id="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
        {% if product.available %}
        <link itemprop="availability" href="http://schema.org/InStock" />
        {% else %}
        <link itemprop="availability" href="http://schema.org/OutOfStock" />
        {% endif %}
        <p>
          {% if product.compare_at_price > product.price %}
          <span class="product-price on-sale" itemprop="price">{{ product.price | money }}</span>&nbsp;<s class="product-compare-price">{{ product.compare_at_price_max | money }}</s>
          {% else %}
          <span class="product-price" itemprop="price">{{ product.price | money }}</span>
          {% endif %}
        </p>
      </div>

      <span id="stock-number"></span>
      
      {% assign hide_default_title = false %}
      {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
        {% assign hide_default_title = true %}
      {% endif %}       

      <div id="product-variants" class="{% if hide_default_title %} hidden{% endif %}">
       <select id="product-select" name="id" class="hidden">
       {% for variant in product.variants %}
         <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
       {% endfor %}
       </select>
      </div>        
        
      <div id="product-add">
        <input min="1" type="number" id="quantity" name="quantity" value="1">
        <input type="submit" name="add" id="add" value="Add to cart">
      </div>
      
      <div id="product-info">
        <div id="description" class="desc-item" itemprop="description">
          <h2 class="prod-info-title">Description</h2>
          <div class="desc-wrapper">
            {{ product.description }}
          </div>
        </div>
        {% assign has_sizes = false %}
        {% for option in product.options %}
          {% if option == "Size" %}
            {% assign has_sizes = true %}
          {% endif %}
        {% endfor %}
        {% if has_sizes %}
        <div id="sizing-chart" class="desc-item">
          <h2 class="prod-info-title">Choosing a Size</h2>
          <p>Sizing measurements are approximate and can vary slightly.<br>
            Please remember that latex will stretch roughly 10-15% &amp; all measurements are based 
            on an unstretched garment. Latex clothing is designed to fit like a second skin, so try 
            selecting a size that is an inch or two smaller than your actual size for that tight fit 
            feel. Ultimately, however, it is a matter of personal preference. Exercise caution when 
            putting on your new latex garments. Talcum powder or lube can help you to get on the more difficult items.
          </p>
        </div>
        {% endif %}
        {% assign has_chlorination = false %}
        {% for option in product.options %}
          {% if option contains "Chlorination" %}
            {% assign has_chlorination = true %}
          {% endif %}
        {% endfor %}
        {% if has_chlorination %}
        <div id="about-chlorination" class="desc-item">
          <h2 class="prod-info-title">About Chlorination</h2>
          <p>Ever wished that putting on your latex could be as easy as pulling on a spandex bodysuit
            or lycra leggings? Chlorinating your latex wil make that wish come true.</p>
          <h3>What chlorinating your latex will mean for you:</h3>
          <ul>
            <li>
              Spend more time looking fabulous and less time fiddling with dressing aids! Your latex 
              won't stick to you when you put it on. You can slide it right on with no powder or lubricant. 
              Fast and easy. No mess.
            </li>
            <li>
              Your latex won't stick to other latex. No more sticking between your thighs when you walk in 
              latex tights!
            </li>
            <li>
              Wear street clothing over your latex with ease.
            </li>
            <li>
              Layer your latex clothing easily.
            </li>
            <li>
              Your latex won't stick to your play partner. Your significant other will experience the most 
              amazing, silky smooth caresses from your latex gloves. Foot massages feel amazing through 
              latex stockings!
            </li>
          </ul>
          <h3>If this sounds good to you, select the chlorination option above.</h3>
          <a href="/pages/chlorinated-latex">Learn even more about chlorination!</a>
        </div>
        {% endif %}
      </div>

      {% if collection %}
        {% if collection.previous_product or collection.next_product %}
        <div id="next-or-prev">     
        {% if collection.previous_product %}
          {% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
          <span class="left"><a href="{{ prev_url }}"><i class="fa fa-angle-left"></i> Previous Product</a></span>
        {% endif %}
        {% if collection.next_product %}
          {% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
          <span class="right"><a href="{{ next_url }}">Next Product <i class="fa fa-angle-right"></i></a></span>
        {% endif %}
        </div>
        {% endif %}
      {% endif %}

    </form>
  </div><!-- #product-details -->
  
  <div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
      
  {% comment %}
  All themes by Shopify should support the Grapevine Reviews app out of the box.
  https://apps.shopify.com/grapevine-reviews
  {% endcomment %} 

  {% include 'directed-edge' %}

</div>

{% comment %}
Adding support for product options. See here for details: http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options
{% endcomment %}

<script>
  
var selectCallback = function(variant, selector) {

  if (variant) {
    
    // Selected a valid variant that is available.
    if (variant.available) {
          
      // Enabling add to cart button.
      jQuery('#add').removeClass('disabled').removeAttr('disabled').val('Add to Cart').fadeTo(200,1);
    
      // If item is backordered yet can still be ordered, we'll show special message.
      if (variant.inventory_management && variant.inventory_quantity <= 0) {
        jQuery('#selected-variant').html({{ product.title | json }}{% unless hide_default_title %} + ' - ' + variant.title{% endunless %});
        jQuery('#backorder').removeClass("hidden");
      } else {
        jQuery('#backorder').addClass("hidden");
      }
      
    } else {
      // Variant is sold out.
      jQuery('#backorder').addClass('hidden');
      jQuery('#add').val('Sold Out').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);        
    }
    
    // Whether the variant is in stock or not, we can update the price and compare at price.
    if ( variant.compare_at_price > variant.price ) {
      jQuery('#product-price').html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") +'</span>'+'&nbsp;<s class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}")+ '</s>');
    } else {
      jQuery('#product-price').html('<span class="product-price">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + '</span>' );
    }
    // And update the stock number
    $('#stock-number').text ('SKU #' + variant.sku);

  } else {
    // variant doesn't exist.
    jQuery('#backorder').addClass('hidden');
    jQuery('#add').val('Unavailable').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
  }

};
  
jQuery(function($) {

  new Shopify.OptionSelectors('product-select', { product: {{ product | json }}, onVariantSelected: selectCallback });
  
  // Add label if only one product option and it isn't 'Title'.
  {% if product.options.size == 1 and product.options.first != 'Title' and product.options.first != "Default" %}
    $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
  {% endif %}
  
  // Auto-select first available variant on page load.
  {% assign found_one_in_stock = false %}
  {% for variant in product.variants %}
    {% if variant.available and found_one_in_stock == false %}
      {% assign found_one_in_stock = true %}
      {% for option in product.options %}
      $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
      {% endfor %}
    {% endif %}
  {% endfor %}

});

</script>